.inputButton {
  transform: scale(1.1);
  margin: 10px;
  background-color: darkgrey;
}

#input {
  outline: none;
}

.inputButton:hover {
  border-radius: 10px;
  color: #f6f5f1;
  background-color: #898b8a;
  border: 2px solid #f6f5f1;
  outline: none;
}

input {
  border-radius: 10px;
}
