body {
  background-color: #ffeaa7;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Architects Daughter", cursive;
}

button {
  padding: 5px;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 7px;
  border-radius: 5px;
  background-color: #ffeaa7;
}
