body {
  background-color: #16a596;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Architects Daughter", cursive;
}

button {
  padding: 5px;
  font-family: "Architects Daughter", cursive;
  color: #f6f5f1;
  background-color: #898b8a;
  border: 2px solid #f6f5f1;
  outline: none;
  border-radius: 10px;
  transform: scale(1.4);
}
