.deleteItemButton {
  color: #f6f5f1;
  background-color: #898b8a;
  border: 2px solid #f6f5f1;
  outline: none;
  border-radius: 10px;
  margin: 10px;
}

.deleteItemButton:hover {
  transform: scale(1.1);
  background-color: darkgrey;
}
